#tel {
    width : 40px;
    height : 40px;
}

#telephone{
    border : solid 1px;
    text-align: center;
    margin-top: 20px;
}

#imgPres{
    width : 1400px;
    height: auto;
    margin-left: 20px;
    margin-right: 40px;
}
.img-fluid{
   max-width: 100%;
   height: auto;
  }

#img1{
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}

#img2{
    width: 500px;
    height: auto;
    margin-bottom: 20px;
   
}

#left{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#right{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-xl-2{
    border: solid 1px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-block-end: 50px;
    text-align: center;
   }

#gauche{
    border: solid 1px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.presentation{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

header{
    background-color:rgb(240, 199, 240);
    height : 90px;
    margin-bottom: 20px;
}

.nom_burger{
    background-color: mediumorchid;
}

.prix_burger{
    background-color :rgb(248, 230, 69);
}

.button_ubereats{
    background-color: rgb(247, 64, 177);
}
#menuToggle
{
  display: block;
  position: relative;
  top: 30px;
  padding-left: 5px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/* Just a quick hamburger */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #232323;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/* But let's hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* Ohyeah and the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned at the top left of the screen */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: rgb(240, 199, 240);

  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/* And let's slide it in from the left */
#menuToggle input:checked ~ ul
{
  transform: none;
}
.row{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#map{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#parent {
  display: flex;
  flex-direction: column-reverse;
}
@media screen  and (max-width: 640px) {
 #gauche{
  margin-left: 10px;
 }
 #map{
  margin-left: auto;
  margin-right: auto;
 }
  }
